{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "universal-import",
    "syntax-dynamic-import"
  ]
}